<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Example Secrets.plist
 
   Copy this file and re-save as Secrets.plist and populate with actual secrets.
 
   Secrets.plist is ignored by version control.

   Created by Kevin Leong on 10/16/16.
   Copyright (c) 2016 Kevin Leong. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>moviesApiKey</key>
        <string>SOME-API-KEY-12345</string>
    </dict>
</plist>